<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVMSwift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE1F804B1E481A1300787D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1F805F1E481A1400787D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1F806A1E481A1400787D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
